.popup__title {
  margin: 0;
  margin-left: 36px;
  margin-bottom: 54px;
  padding: 0;
  max-width: 330px;
  margin-top: 34px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media screen and (max-width: 601px) {
  .popup__title {
    margin-bottom: 75px;
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
    margin-left: 22px;
  }
}
