.popup__close {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  background: url(../../../images/close.svg);
  background-size: cover;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  transform: rotate(-45deg);
  transition: opacity .3s linear;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 601px) {
  .popup__close {
    width: 26px;
    height: 26px;
    right: 5px;
    top: -45px;
  }

  #close-card.popup__close {
    right: 0;
    top: -36px;
  }
}
