.profile__description {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 540px;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media screen and (max-width: 917px) {
  .profile__description {
    text-align: center;
    max-width: 570px;
  }
}

@media screen and (max-width: 601px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    max-width: 270px;
  }
}
