.footer {
  margin-top: 66px;
  font-family: 'Inter', Arial, sans-serif;
  width: 880px;
}

@media screen and (max-width: 917px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 601px) {
  .footer {
    margin-top: 48px;
    max-width: 282px;
  }
}
